#Calculator {
  --orange: #f5913e;
  --light: #e9e8e8;
  --dark: #858693;

  width: 60vw;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 'result result';
  font-weight: 400;
  height: 40vw;
  margin-left: auto;
}

#result {
  grid-area: result;
  color: white;
  font-size: 1.2rem;
  background-color: transparent;
  background-color: var(--dark);
}

#result input {
  text-align: right;
  height: 100%;
  width: 95%;
  outline: none;
  display: block;
  margin: auto;
  border: 0;
  padding: 5px;
}

#leftSide {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: 'zero zero';
  background-color: var(--light);
}

#rightSide {
  display: grid;
  grid-template-columns: auto;
  background-color: var(--orange);
}

button {
  padding: 1vw 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#rightSide button {
  padding: 1vw 5vw;
}

.zero {
  grid-area: zero;
  grid-row: 5;
}

#Calculator * {
  border: 0.1px rgb(255, 255, 255) solid;
}

.operator {
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
}
