#Calculator{
  --orange: #F5913E;
  --light: #e9e8e8;
  --dark: #858693;
  border: 2px silver solid;
  max-width: max-content;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: 'result result';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#result{
  grid-area: result;
  text-align: right;
  background-color: var(--dark);
  color: white;
  font-size: 1.2rem;
}
#result input{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: none;
}

#leftSide{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: 'zero zero';
  background-color: var(--light);
}
#rightSide{
  display: grid;
  grid-template-columns: auto;
  background-color: var(--orange);
}
span{
  padding: 1vw 3vw;
      display: flex;
      justify-content: center;
      align-items: center;
      
}
#rightSide span{
  padding: 1vw 5vw;
}
.zero{
grid-area: zero;
grid-row: 5;
}
#Calculator * {
border: 0.1px rgb(255, 255, 255) solid;
}